{% extends 'galeria/base.html'%}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png'%}" alt="banner pixel art">
                    <h1 class="banner__titulo">Pixel Arts personalizados</h1>
                </section>
                <section class="galeria">
                    
                </section>
            </section>
        </main>
    </div>
    
{% endblock %}